{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-first">
                <div class="nav-left mt-4">
                    <h2>Коллекции</h2>
                    <ul class="list-unstyled">
                        {% for collection in collections %}
                            <li><a class="collection-link {% if collection.name == current_collection %}active-collection{% endif %}" href="{% url 'main_pages:collection_view' collection.name %}">{{ collection.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-8 order-md-last">
                <h2 class="mt-4">Коллекция: {{ collection.name }}</h2>
                <div class="row">
                    {% for card in cards %}
                        <div class="col-md-4">
                            <div class="card mb-4 card-hover">
                                <div class="card-image-container">
                                    <a href="{% url 'main_pages:card' product_id=card.product.product_id %}">
                                        <img src="{{ card.product.product_image.url }}" class="card-img" alt="{{ card.product.product_name }}">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-secondary">{{ card.product.product_name }}</p>
                                        </div>
                                        <div class="col">
                                            <p class="text-secondary">{{ card.product.product_price }}р.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="badge badge-primary">{{ card.product.discount }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<style>
    .card .card-image-container {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .card .card-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
