{% extends 'base.html' %}

{% block content %}
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Профиль</h2>
                    <div class="form-group">
                        <label for="full-name">ФИО</label>
                        <p>{{ request.user.profile.FIO }}</p>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="address">Адрес</label>
                        <p>{{ request.user.profile.address }}</p>
                    </div>
                    <br>
                    {% if request.user.profile.image %}
                        <div class="form-group">
                            <label for="profile-picture">Фото профиля</label>
                            <br>
                            <img src="{{ request.user.profile.image.url }}" alt="Profile Picture" class="img-fluid">
                        </div>
                    {% else %}
                        <p>Фото профиля отсутствует.</p>
                    {% endif %}
                    <br>
                    <a href="{% url 'accounts:update_profile' %}" class="btn btn-primary">Обновить профиль</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
