{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../scripts/script.js"></script>
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
     <!--<link rel="stylesheet" type="text/css" href="{% static 'main_pages/main.css' %}">-->
     <link rel="stylesheet" type="text/css" href="../../static/main_pages/main.css"> <!-- удалить потом-->
     <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'></head>
     <body>
        <div class="aboba">
            <div class="header">
                <div class="header-line">
                    <img class="logo-img" src="../../static/images/logo.svg" alt="logo">
                    <div class="list">
                            <a class="nav-header1" href="#"><li>Новинки</li></a>
                            <a class="nav-header2" href="#"><li>Мужчинам</li></a>
                            <a class="nav-header2" href="#"><li>Женщинам</li></a>
                            <a class="nav-header2" href="#"><li>Каталог</li></a>
                            <a class="nav-header3" href="#"><li>О нас</li></a>
                    </div>
                    <a href="#"><img class="icon-header" src="../../static/images/cart.svg" alt="Cart"></a>
                    <div class="search-box">
                        <input class="search-txt" type="text" placeholder="Поиск...">
                        <div class="img-search">
                            <a href="#"><img class="icon-header" src="../../static/images/search.svg" alt="Search_button"></a>
                        </div>
                    </div>

                    
                    <img class="icon-header" src="../../static/images/profile.svg" alt="Profile-icon">
                </div>
            </div>
        </div>

        <div class="main">
            <div class="slick-thing">

            </div>
            <div class="nav-left">
                <ul><h2>Коллекции</h2>
                    <a class="collection-link" href="#"><li>Типа тема</li></a>
                    <a class="collection-link" href="#"><li>Ещё тема</li></a>
                    <a class="collection-link" href="#"><li>Ну ещ тема тип</li></a>
                    <a class="collection-link" href="#"><li>Я типа</li></a>
                    <a class="collection-link" href="#"><li>Могу делать</li></a>
                    <a class="collection-link" href="#"><li>То что я</li></a>
                    <a class="collection-link" href="#"><li>Хочу типа</li></a>
                    <a class="collection-link" href="#"><li>Ну это типа</li></a>
                </ul>
            </div>
            <h2>Популярное</h2>
            <div class="all-blocks">
                <div class="blocks-floor1">
                    <div class="block1">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                    <div class="block2">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                    <div class="block3">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blocks-floor2">

                    <div class="block1">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                    <div class="block2">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>
                    <div class="block3">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                </div>

                <div class="blocks-floor3">

                    <div class="block1">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                    <div class="block2">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>
                    <div class="block3">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="footer">
            <div class="footer-line">
                <a class="footer-link" href="#">FAQ</a>
                <a class="footer-link" href="#">Contacts</a>
                <a class="footer-link" href="#">Social Media</a>
                <a class="footer-link" href="#">EA SPORTS</a>
            </div>
        </div>
     </body>
</html>