{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <h2>Корзина</h2>
        {% if cart %}
            <form method="post" action="{% url 'main_pages:update_cart' %}">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Сумма</th>
                            <th></th> <!-- Add a new column for Delete button -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_id, cart_item in cart.items %}
                            <tr>
                                <td>{{ cart_item.name }}</td>
                                <td>
                                    <label>
                                        <input type="number" name="quantity_{{ product_id }}" value="{{ cart_item.stock }}" min="1" max="{{ cart_item.stock }}">
                                    </label>
                                </td>
                                <td>{{ cart_item.price|floatformat:2 }}р.</td>
                                <td>{{ cart_item.price|multiply:cart_item.stock|floatformat:2 }}р.</td>
                                <td>
                                    <form method="post" action="{% url 'main_pages:delete_cart_item' product_id=product_id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" name="delete_item" value="{{ product_id }}">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-end">Итого:</td>
                            <td>{{ total_cost|floatformat:2 }}р.</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Обновить корзину</button>
                </div>
            </form>

            <form method="post" action="{% url 'main_pages:buy_cart' %}">
                {% csrf_token %}
                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-success">Купить</button>
                </div>
            </form>

            <!-- Clear Cart Modal -->
            <div class="modal fade" id="clearCartModal" tabindex="-1" aria-labelledby="clearCartModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="clearCartModalLabel">Очистить корзину</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Вы уверены, что хотите очистить корзину?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <form method="post" action="{% url 'main_pages:clear_cart' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Очистить корзину</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <p>Корзина пуста.</p>
            <a href="{% url 'main_pages:main_page' %}" class="btn btn-primary">Продолжить покупки</a>
        {% endif %}
    </div>
{% endblock %}
