{% extends "base.html" %}

{% block content %}
        <div class="main">
            <div class="slick-thing">

            </div>
            {% block navbar_left %}
            <div class="nav-left">
                <h2>Коллекции</h2>
                <ul>
                    <li><a class="collection-link" href="#">Типа тема</a></li>
                    <li><a class="collection-link" href="#">Ещё тема</a></li>
                    <li><a class="collection-link" href="#">Ну ещ тема тип</a></li>
                    <li><a class="collection-link" href="#">Я типа</a></li>
                    <li><a class="collection-link" href="#">Могу делать</a></li>
                    <li><a class="collection-link" href="#">То что я</a></li>
                    <li><a class="collection-link" href="#">Хочу типа</a></li>
                    <li><a class="collection-link" href="#">Ну это типа</a></li>
                </ul>
            </div>
            {% endblock navbar_left %}
            {% block all_blocks %}
            <h2>Популярное</h2>
            <div class="all-blocks">
                <div class="blocks-floor1">
                    <div class="block1">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                    <div class="block2">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                    <div class="block3">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blocks-floor2">

                    <div class="block1">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                    <div class="block2">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>
                    <div class="block3">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                </div>

                <div class="blocks-floor3">

                    <div class="block1">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                    <div class="block2">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>
                    <div class="block3">
                        <!-- <div class="picture">
                        ㅤㅤㅤㅤㅤㅤㅤ<br>
                        </div> -->
                        <img class="block-picture" src="../../static/images/nigga.jpg" alt="Notorious B. I. G.">
                        <div class="block-list">
                            <div class="description-list">
                                <p><span class="margin-description">143000</span></p>
                                <p><span class="overline-description">110000</span></p>
                            </div>
                            <div class="Sale">
                                +30%
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endblock all_blocks %}
        </div>
{% endblock content %}