{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-first">
                <div class="nav-left mt-4">
                    <h2>Коллекции</h2>
                    <ul class="list-unstyled">
                        {% for collection in collections %}
                            <li><a class="collection-link" href="#">{{ collection.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-8 order-md-last">
                <h2 class="mt-4">Популярное</h2>
                <div class="row">
                    {% for card in cards %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.title }}">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-secondary">{{ card.price }}</p>
                                        </div>
                                        <div class="col">
                                            <p class="text-secondary text-decoration-line-through">{{ card.discounted_price }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="badge badge-primary">{{ card.discount }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
