body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.nav-header1:hover{
    /* поменять */
    opacity: 35%; 
    transition: 0.2s;
}

.nav-header2:hover{
    /* поменять */
    opacity: 35%; 
    transition: 0.2s;
}

.nav-header3:hover{
    /* поменять */
    opacity: 35%; 
    transition: 0.2s;
}

a:not(:hover){
    opacity: 100%;
    transition: 0.2s;
}

.collection-link:hover{
    opacity: 35%;
    transition: 0.2s;
}

li{
    list-style: none;
}


/* .logo-img{
    margin: 0px 5px 0px 0px;
} */

.header{
    background-color: #fff;
    /* border-bottom: 2px solid black; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.header-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;

}

.list{
    display: flex;
    justify-content: space-between;
}

/* .icon-header{
    width: 20px;
    height: 20px;
    margin: -10px -10px -10px -10px;
} */

.nav-header1{
    margin: 0px 4px 0px 0px;
}

.nav-header2{
    margin: 0px 8px 0px 4px;
}

.nav-header3{
    margin: 0px 0px 0px 4px;
}


.search-box{
    border: 2px solid;
    border-color: black;
    background: #fff;
    border-radius: 8px;
    /* padding: 12px 16px; */
    display: flex;
    justify-content: center;
    /* margin: 0px 10px 0px 0px; */
    /*           4
                 |
            theres 20px */
}

.img-search{
    padding: 8px 8px 8px 8px;
    display: flex;
    justify-content: center;

}

.search-txt{
    /* background-color: #1e1b33; */
    border-radius: 8px;
    font-size: 18px;
    border: none;
    padding: 0px 0px 0px 15px;
    width: 185px;
    color: black;
    /* border-color: black; */
}
/* .container-header{
    margin: 0px 100px 0px 100px;
} */

.main{
    padding: 20px 40px 20px 0px;
}

.nav-left{
    float: left;
    margin: 0px 100px 0px 0px;
    line-height: 20px;
}

.all-blocks{
    display: flex;
    flex-direction: column;
}

.blocks-floor1{
    display: flex;
    /* justify-content: space-between; */
    /* padding: 0px 300px 0px 0px; */
    margin: 0px 0px 10px 0px;

    
}
.blocks-floor2{
    display: flex;
    margin: 10px 0px 10px 0px;
}

.blocks-floor3{
    display: flex;
    margin: 10px 0px 0px 0px;
}

.block1{
    background-color: #D9D9D9;
    padding: 25px;
    border-radius: 20px;
    margin: 0px 10px 0px 0px;
}

.block2{
    background-color: #D9D9D9;
    padding: 25px;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
}

.block3{
    background-color: #D9D9D9;
    padding: 25px;
    border-radius: 20px;
    margin: 0px 0px 0px 10px;
}

/* .picture{
    background-color: #fff;
    border-radius: 8px;
    padding: 80px;
} */

.block-picture{
    border-radius: 8px; 
    /* height: 50%;
    width: 40%;  */
    width: 180px;
    height: 240px;
}

.sale{
   position: relative;
   background-color: #FF0F48;
   float: right;
   padding: 5px;
   border-radius: 5px;
   color: #fff;
   margin: 0px 0px 0px 20px;
}

.block-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-list{
    display: flex;
    justify-content: space-between;
}

span.margin-description{
    margin: 0px 5px 0px 0px;
}

.block1:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: 0.2s;
}

.block1:not(:hover){
    box-shadow: 0 0 0px rgba();
    transition: 0.3s;
}

.block2:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: 0.2s;
}

.block2:not(:hover){
    box-shadow: 0 0 0px rgba();
    transition: 0.3s;
}

.block3:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: 0.2s;
}

.block3:not(:hover){
    box-shadow: 0 0 0px rgba();
    transition: 0.3s;
}

.overline-description{
    text-decoration: line-through;
}

.footer{
    background-color: black;
    color: #fff;
    margin: 50px 0px 0px 0px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.footer-line{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.footer-link{
    color: #fff;
    text-decoration: none;
}

.footer-link:hover{
    opacity: 75%;
    transition: 0.2s;
}